* {
    box-sizing: border-box;
}


body {
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
}


.box {
    width: 90px;
    height: 90px;
    background-color: black;
    margin: 25px;
    border: 3px red dashed;
}

.fill {
    background-image: url("https://source.unsplash.com/random?license=free/90x90");
    background-size: cover;
    height: 85px;
    width: 85px;
    cursor: pointer;
}

.hold {
    border: solid 5px #ccc;
}

.hovered { 
    background-color: #333;
    border-color: white;
    border-style: dashed;
}