*{
    box-sizing: border-box;
}

body { 
    font-family: "Roboto" , sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}

.bg { 
    background: url("/day5/bg.jpg");
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px ) ;
    height: calc(100vh + 60px ) ;
    z-index: -1;
    filter: blur(0px);
    background-size:cover ;
}

.loading-text {
    font-size: 50px;
    color: #fff;
}
