* {
    box-sizing: border-box;
}

body {
    background-color: rgb(75, 159, 255);
    color: white;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.mainborder {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 140px;
    height: 280px;
    background-color: white;
    color: darkblue;
    border: 5px solid rgb(49, 49, 118);
    ;
    border-radius: 0px 0px 40px 40px;
    margin: 0;
}

.otherborders {
    width: 350px;
    height: auto;
    color: rgb(4, 4, 41);
}

.glass {
    width: 50px;
    height: 80px;
    background-color: white;
    margin: 10px;
    display: inline-block;
    border: 4px solid rgb(67, 67, 149);
    border-radius: 0px 0px 20px 20px;
    cursor: pointer;
    transition: 0.5s ease;
    font-size: 14px;
}

.glass.active {
    background-color: rgb(131, 168, 232);
    color: #fff;

}

.text {
    color: white;
    text-align: center;
    margin: 15px 30px;
}

.main {
    margin-top: 50%
}

.remained {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;


}

.remained span {
    font-size: 20px;
    font-weight: bold;
}

.remained small {
    font-size: 12px;
}

.percentage {
    background-color: rgb(49, 49, 118);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    height: 0;
    transition: 0.3s ease;
}